body {
    font-family: 'Arial', sans-serif;
    background-color: #1E1F22;
    color: #DFE1E5;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.page-wrapper {
    padding-top: 64px;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.top-navigation ul li {
    margin-right: 20px;
}

.top-navigation ul li a {
    display: block;
    position: relative;
    padding: 20px 0;
    color: #DFE1E5;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.top-navigation ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #3498db;
}

.top-navigation ul li a:hover {
    color: #3498db;
}

.top-navigation ul li a:hover::after {
    width: 100%;
}

.top-navigation ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #3498db;
}

@media (max-width: 1024px) {
    .top-navigation .top-navigation-search {
        display: none;
    }
}

@media (max-width: 800px) {
    aside {
        display: none;
    }
}

@media (max-width: 660px) {
    .top-navigation-auth {
        display: none;
    }
}

@media (max-width: 510px) {
    .top-navigation-image {
        display: none;
    }
    .top-navigation {
        justify-content: center;
    }
}

.top-navigation-image img {
    height: 40px;
    background: #DFE1E5;
    border-radius: 5px;
}

.top-navigation-search {
    display: flex;
}

.top-navigation-search input {
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    width: 20rem;
}

#search-button {
    padding: 5px;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.top-navigation-auth a {
    color: #ecf0f1;
    margin-left: 20px;
}

.login-button:hover, .register-button:hover {
    color: #3498db;
}

.main-wrapper {
    display: flex;
}

aside {
    width: 260px;
    padding: 20px;
    background-color: #2B2D30;
}

aside h2 {
    color: #ecf0f1;
}

main {
    width: 100%;
    margin-inline: 3rem;
    /*align-items: center;*/
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.table-header, .table-row {
    display: contents;
}

.table-cell {
    padding: 8px;
    text-align: left;
    background-color: #2c3e50;
    color: #DFE1E5;
}

.table-header .table-cell {
    font-weight: bold;
    color: #fff;
}

.table-row:nth-child(2n) .table-cell {
    background-color: #34495e;
}